// ? Demo only 
body {
  display: grid;
  min-height: 100vh;
  place-content: center;
}
.orbit {
  .center-image {
    width: 10rem;
    position: relative;

    img {
      position: absolute;
      transition: opacity 500ms;

      &:not(:first-child):hover {
        opacity: 0;
      }
    }
  }
}