// ? Demo only 
body {
  font-family: system-ui;
  display: grid;
  min-height: 100vh;
  place-content: center;
}
.orbit {
  .center-image {
    width: 12rem;
    position: relative;
    transform: translate(-2rem, -2rem);

    img {
      position: absolute;
      transition: opacity 500ms;

      &:not(:first-child):hover {
        opacity: 0;
      }
    }
  }
  ul {
    position: relative;
    list-style: none;
  }
  li {
    opacity: 0;
    position: absolute;
    background: var(--orange-light);
    width: 8rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    font-weight: 500;
    text-align: center;
    color: var(--white-light);
    line-height: 1;
    & > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    > p {
      background: var(--orange-dark);
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      transition: opacity 500ms;
      opacity: 0;
    }
    &:hover> p {
      opacity: 1;
    }
  }
  li:first-child {
    opacity: 1;
    transform: translateX(300px);
  }
 

  

  
}
